:root {
	--white: #ffffff;
	--white-soft: #f8f8f8;
	--white-mute: #f2f2f2;

	--black: #000000;
	--black-soft: #222222;
	--black-highlight: #444444;
	--black-mute: #282828;

	--grey-500: #9e9e9e;

	--text: rgba(235, 235, 235, 0.64);
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	font-weight: normal;
}

body {
	min-height: 100vh;
	color: var(--text);
	background: var(--black);
	transition: color 0.5s, background-color 0.5s;
	line-height: 1.6;
	font-family: Roboto;
	font-size: 1rem;
	font-weight: 300;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
